<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <a href="/auth/login">Enter</a>
    <% if (user){ %>
        <h1>
            <%= user.name %>
        </h1>
        <button onclick="createAnimal()">create animal</button>
        <button onclick="listAnimal()">list animals</button>
        <button onclick="listAnimalByKind()">list dogs</button>
        <output></output>
        <script>
            function rand(range){
                return Math.floor((Math.random()*100))%(range||999);
            }
            function silable(){
                var vocals = 'aeiou';
                var consonants = 'bcdfghjklmnprstvwxyz'.split('').concat('qu', 'ch', 'sh', 'nh', 'rr', 'ss');
                return vocals[rand(vocals.length)] + '' +  consonants[rand(consonants.length)];
            }
            function getName(){
                return Array(rand(7))
                    .fill(null)
                    .map(()=>silable())
                    .join('').split('')
                    .map((d, i)=>(!i)?d.toUpperCase():d).join('');
            }
            function createAnimal() {
                fetch('/api/animal', {
                        credentials: 'include',
                        method: 'post',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                                animal: {
                                    "name": getName(),
                                    "kind": rand(2)+1,
                                    "profilePictureUrl": `http://lorempixum.com/90/90?${rand(100)}`,
                                    "birthYear": 2000 + rand(15),
                                    "genre": rand(2)+1,
                                    "size": rand(4)+1,
                                    "relationship": rand(2)+1,
                                    "primaryColor": 3381536,
                                    "secundaryColor": 3379488,
                                    "breedId": 0,
                                    "city": "Sao Paulo",
                                    state:"SP "}
                                })
                        }).then(function(response) {
                        return response.json();
                    }).then(function(json) {
                        document.querySelector('output').innerHTML = json;
                    }).catch(function(ex) {
                        console.log('parsing failed', ex);
                    });
                }

                function listAnimal() {
                    fetch('/api/animal', {
                        credentials: 'include',
                        method: 'get',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    }).then(function(response) {
                        return response.text();
                    }).then(function(json) {
                        document.querySelector('output').innerHTML = json;
                    }).catch(function(ex) {
                        console.log('parsing failed', ex);
                    });
                }

                function listAnimalByKind() {
                    fetch('/api/animal/kind/1', {
                        credentials: 'include',
                        method: 'get',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    }).then(function(response) {
                        return response.text();
                    }).then(function(json) {
                        document.querySelector('output').innerHTML = json;
                    }).catch(function(ex) {
                        console.log('parsing failed', ex);
                    });
                }
        </script>
        <% } %>
</body>

</html>
